.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
}
.dropdown .dropdown-button {
  padding: 15px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.dropdown .dropdown-button:hover {
  background-color: #be2530;
}
.dropdown .dropdown-content {
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid #931d25;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #931d25;
}
.dropdown .dropdown-link:hover {
  color: #ffffff;
  background-color: #931d25;
}
.dropdown .dropdown-hidden {
  display: none;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #931d25;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #931d25;
  border-right: 1px solid white;
  color: #ffffff;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #be2530;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #931d25;
  background-color: #ffffff;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: #ffffff;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #8addaa;
  color: white;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 800px) {
  body {
    background-color: #6b88e6;
    max-width: 801px;
  }
}
@media (min-width: 1000px) {
  body {
    background-color: #6bd4c8;
    max-width: 1250px;
  }
}
.dropdown-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-container .header {
  height: 50px;
}
.section {
  width: 70%;
  margin: 45px auto;
  display: flex;
  border: 1px solid #931d25;
  box-shadow: 1px 1px 5px #931d25;
  border-radius: 10px;
  overflow: hidden;
}
.section .box {
  padding: 40px;
}
.section .box .box-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
section {
  width: 90%;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid white;
}
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 40px 0 20px;
}
h1 {
  font-size: 6.5rem;
  line-height: 1.25;
}
@media (min-width: 800px) {
  h1 {
    font-size: 8.5rem;
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 10.5rem;
  }
}
h2 {
  font-size: 2.8rem;
}
@media (min-width: 800px) {
  h2 {
    font-size: 4.8rem;
  }
}
@media (min-width: 1000px) {
  h2 {
    font-size: 6.8rem;
  }
}
h3 {
  font-size: 2.5rem;
}
@media (min-width: 800px) {
  h3 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1000px) {
  h3 {
    font-size: 5rem;
  }
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding: 10px 0;
  text-align: center;
}
@media (min-width: 800px) {
  p {
    font-size: 2rem;
    padding: 15px 30px;
  }
}
@media (min-width: 1000px) {
  p {
    font-size: 2rem;
    padding: 30px 100px;
  }
}
a {
  text-align: center;
}
img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  margin: 50px 0 20px;
}
img:hover {
  opacity: 0.3;
}
.button-container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .button-container {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .button-container {
    width: 25%;
  }
}
.button {
  border-radius: 25px;
  width: 100%;
  background-color: white;
  font-size: 2rem;
  color: #6b88e6;
  border: 3px solid white;
  padding: 10px 130px;
  margin: 20px 0;
}
.button:hover {
  cursor: pointer;
  background-color: #6b88e6;
  color: white;
  border: 3px solid #c3e895;
}
@media (min-width: 800px) {
  .button:hover {
    background-color: #57aed3;
    color: white;
    border: 3px solid #c3e895;
  }
}
@media (min-width: 800px) {
  .button {
    padding: 10px 65px;
  }
}
@media (min-width: 1000px) {
  .button {
    padding: 10px 32px;
  }
}
.jello-vertical:hover {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}
/* ----------------------------------------------
  * Generated by Animista on 2019-2-5 13:59:4
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
/**
  * ----------------------------------------
  * animation jello-vertical
  * ----------------------------------------
  */
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.inner-top-container,
.inner-middle-container,
.inner-bottom-container,
.button-container,
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header {
  margin: 80px 0 10px;
  /* ----------------------------------------------
    * Generated by Animista on 2019-2-5 13:37:3
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */
  /**
    * ----------------------------------------
    * animation text-pop-up-top
    * ----------------------------------------
    */
}
#header .text-pop-up-top {
  -webkit-animation: text-pop-up-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: text-pop-up-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
#header a {
  text-decoration: none;
  color: #6b88e6;
}
#header a:hover {
  color: white;
}
#footer {
  width: 90%;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid white;
}
#footer ul.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* ----------------------------------------------
        * Generated by Animista on 2019-2-5 15:27:45
        * w: http://animista.net, t: @cssanimista
        * ---------------------------------------------- */
  /**
        * ----------------------------------------
        * animation rotate-in-center
        * ----------------------------------------
        */
}
#footer ul.icons .fa-twitter,
#footer ul.icons .fa-facebook-square,
#footer ul.icons .fa-envelope {
  color: white;
  margin: 20px 30px 40px;
}
#footer ul.icons .fa-twitter:hover,
#footer ul.icons .fa-facebook-square:hover,
#footer ul.icons .fa-envelope:hover {
  color: #4361c2;
}
@media (min-width: 800px) {
  #footer ul.icons .fa-twitter:hover,
  #footer ul.icons .fa-facebook-square:hover,
  #footer ul.icons .fa-envelope:hover {
    color: #8addaa;
  }
}
@media (min-width: 1000px) {
  #footer ul.icons .fa-twitter:hover,
  #footer ul.icons .fa-facebook-square:hover,
  #footer ul.icons .fa-envelope:hover {
    color: #4361c2;
  }
}
#footer ul.icons .rotate-in-center:hover {
  -webkit-animation: rotate-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
#footer ul.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* ----------------------------------------------
        * Generated by Animista on 2019-2-5 15:43:37
        * w: http://animista.net, t: @cssanimista
        * ---------------------------------------------- */
  /**
        * ----------------------------------------
        * animation wobble-hor-bottom
        * ----------------------------------------
        */
}
#footer ul.copyright li {
  color: white;
  font-size: 1.6rem;
  margin: 0 15px 30px;
}
#footer ul.copyright li .html5up,
#footer ul.copyright li .pexels {
  color: white;
  text-decoration: none;
}
#footer ul.copyright li .html5up:hover,
#footer ul.copyright li .pexels:hover {
  color: #4361c2;
}
@media (min-width: 800px) {
  #footer ul.copyright li .html5up:hover,
  #footer ul.copyright li .pexels:hover {
    color: #8addaa;
  }
}
@media (min-width: 1000px) {
  #footer ul.copyright li .html5up:hover,
  #footer ul.copyright li .pexels:hover {
    color: #4361c2;
  }
}
#footer ul.copyright .wobble-hor-bottom:hover {
  -webkit-animation: wobble-hor-bottom 1.5s both;
  animation: wobble-hor-bottom 1.5s both;
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
#one .inner-container .image-container-one {
  width: 365px;
  height: auto;
}
@media (min-width: 800px) {
  #one .inner-container .image-container-one {
    width: 450px;
  }
}
@media (min-width: 1000px) {
  #one .inner-container .image-container-one {
    width: 500px;
  }
}
@media (min-width: 1000px) {
  #one .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
#two .inner-container .inner-top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
#two .inner-container .inner-top-container .image-container-two {
  display: inline-block;
  width: 150px;
  height: auto;
}
@media (min-width: 800px) {
  #two .inner-container .inner-top-container .image-container-two {
    width: 100px;
  }
}
@media (min-width: 1000px) {
  #two .inner-container .inner-top-container .image-container-two {
    width: 125px;
  }
}
@media (min-width: 1000px) {
  #two .inner-container .inner-top-container {
    width: 39%;
  }
}
@media (min-width: 1000px) {
  #two .inner-container .inner-bottom-container {
    width: 60%;
  }
}
@media (min-width: 1000px) {
  #two .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
#three div.inner-container .image-container-three {
  width: 275px;
  height: auto;
}
@media (min-width: 1000px) {
  #three div.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
#four a {
  text-decoration: none;
}
