* {
    box-sizing: border-box;
}
  
html {
// This will set a ratio of '1 rem = 10px' when the browser's
// font-size settings are set to 'medium'
    font-size: 62.5%;
}
  
html, body {
    .flex-column-center();
    font-family: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: @ocean-green;
    color: white;
    max-width: 500px;
    width: 90%;
    margin: 0 auto;

    @media @tablet {
    background-color: @blurple;
    max-width: 801px;
    }

    @media @desktop {
      background-color: @tiffany-blue;
      max-width: 1250px;
    }
}

.dropdown-container {
    .flex-row-center();
    width: 100%;
    height: 70px;
}
  
.tabs-container {
    width: 100%;
    margin: 45px auto;
    display: flex;
    border: 1px solid @duke-blue;
    box-shadow: 1px 1px 5px @tiffany-blue;
    border-radius: 5px;
    overflow: scroll;

    .box {
        padding: 10px;

        .box-title {
            font-size: 2.0rem;
            padding-bottom: 10px;
            font-weight: bold;
        }
    }
}

section {
    width: 90%;
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid white;
}
  
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 40px 0 20px;
}
  
h1 {
    margin-top: 100px;
    font-size: 6.5rem;
    line-height: 1.25;

    @media @tablet {
        font-size: 8.5rem;
    }

    @media @desktop {
        font-size: 10.5rem;
    }
}
  
  h2 {
    font-size: 2.8rem;

    @media @tablet {
        font-size: 4.8rem;
    }

    @media @desktop {
        font-size: 6.8rem;
    }
}
  
  h3 {
    font-size: 2.5rem;

    @media @tablet {
        font-size: 3.5rem;
    }

    @media @desktop {
        font-size: 5.0rem;
    }
}
  
  p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding: 10px 0;
    text-align: center;

    @media @tablet {
        font-size: 2.0rem;
        padding: 15px 30px;
    }

    @media @desktop {
        font-size: 2.0rem;
        padding: 30px 100px;
    }
}

a {
    text-align: center;
}
  
img {
    .border-radius();
    max-width: 100%;
    height: auto;
    margin: 50px 0 20px;

    &:hover {
        opacity: 0.3;
    }
}

.button-container {
    width: 90%;
    margin: 0 auto;

    @media @tablet {
        width: 50%;
    }

    @media @desktop {
        width: 25%;
    }
}

.button {
    border-radius: 25px;
    width: 100%;
    background-color: white;
    font-size: 2.0rem;
    color: @blurple;
    border: 3px solid white;
    padding: 10px 130px;
    margin: 20px 0;

    &:hover {
        cursor: pointer;
        background-color: @blurple;
        color: white;
        border: 3px solid @pale-green;

        @media @tablet {
            background-color: @twitter-blue;
            color: white;
            border: 3px solid @pale-green;
        }
    }

    @media @tablet {
        padding: 10px 65px;
    }

    @media @desktop {
        padding: 10px 32px;
    }
}

.jello-vertical {

    &:hover {
        -webkit-animation: jello-vertical 0.9s both;
                animation: jello-vertical 0.9s both;
    }
}

/* ----------------------------------------------
* Generated by Animista on 2019-2-5 13:59:4
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation jello-vertical
* ----------------------------------------
*/
@-webkit-keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
                transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
  @keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
                transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
  
.container {
    .flex-column-center();
}

.inner-container {
    .flex-column-center();
    width: 95%;
    margin: 0 auto;
}

.inner-top-container, .inner-middle-container, .inner-bottom-container, .button-container, .text-container {
    .flex-column-center();
}

.wolf-pack {
    font-weight: bold;
    color: @duke-blue;

    @media @tablet {
        color: @pale-green;
    }

    @media @desktop {
        color: @duke-blue;
    }
}
