

#one {



}

#two {

}

#three {

}

#four {

}

#footer {

}

.image-section-one {
    width: 350px;
    height: auto;
}

.image-section-two {
    display: inline-block;
    width: 125px;
    height: auto;
}