

#one {

    .inner-container {

        .inner-top-container {
            
            .image-container-one {
                width: 100%;
                height: auto;
    
                @media @tablet {
                    width: 100%;
                }
              
                @media @desktop {
                    width: 100%;
                }
            }
        }

        .home-inner-top-container {
            width: 100%;

            @media @desktop {
                width: 49%;
            }

        }

        .home-inner-bottom-container {
            @media @desktop {
                width: 50%;
            }

        }

        @media @desktop {
            .flex-row-center();
        }
    }
}

#two {

    .inner-container {

        .inner-top-container, .home-inner-top-container {
            .flex-row-center();
            .wrap();
            .space-around();
    
            .image-container-two {
                display: inline-block;
                width: 150px;
                height: auto;
    
                @media @tablet {
                    width: 100px;
                }
              
                @media @desktop {
                    width: 125px;
                }
            }
          
            @media @desktop {
                width: 49%;
                order: 2;
            }
        }

        .inner-bottom-container, .home-inner-bottom-container {
            @media @desktop {
                width: 50%;
                order: 1;
            }
        }

        @media @desktop {
            .flex-row-center();
        }

    }
   
}

#three {

    div.inner-container {

        .image-container-three {
            width: 275px;
            height: auto;
        }
      
        // @media @desktop {
        //     .flex-row-center();
        // }
    }
}

#four {

    a {
        text-decoration: none;
    }
}

#footer {

}

