

.tabs {
    background-color: white;
    width: 500px;

    .tabs-items {
    	width: 100%;
    	height: 550px;
    	display: flex;
    	justify-content: center;
    	padding-top: 30px;
    }
    .tabs-item {
		display: none; 
		color: black;
    	background-color: white;
		width: 90%;
	  
    	.tabs-item-title {
        	font-size: 24px;
        	font-weight: bold;
        	padding-bottom: 10px;
		}
	  
	  	.tabs-item-image-container {
			display: inline-block;
            width: 150px;
            height: auto;
    
            @media @tablet {
                width: 100px;
            }
              
            @media @desktop {
                width: 125px;
            }
		}
    }

    .tabs-item-selected {
        display: block;
    }
  
    .tabs-links {
        display: flex;
        background-color: white;
    }
  
    .tabs-link {
        padding: 20px 25px;
        font-size: 2.0rem;
        background-color: @blurple;
        border-right: 1px solid white;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: @twitter-blue;
            color: white;
        }
    }

    .tabs-link-selected {
        z-index: 2;
        border-right: 3px solid @ocean-green;
        background-color: white;
        color: @blurple;
      
        &:hover {
		    background-color: @duke-blue;
		    color: @pale-green;
        }
    }
}
  
  
  